table{
    width: 90%;
    border-radius: 8px;
    border-collapse: collapse;
    background-color : #fefefe;
    margin: 0  auto;
}

th, td{
    border: 1px solid var(--main);
    padding: 4px;
    font-size: 1rem;
    font-family: var(--font-text);
    color: var(--background);
}

th{
    color: var(--main);
    font-family: var(--font-text-regular);
}

th{
    background-color: #fefefe;
    text-align: center;
    font-family: var(--font-text-regular);
}

.result
{
    margin: 2rem;
    
}

caption{
    background: linear-gradient(-45deg,#ff6600 15%, #9646ec 60% , #731ece 70%);
    color: #fff;
    max-width: 90%;
    width:80%;
    font-size: 1.5rem;
    padding: 5px;
    margin: 0 auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

caption span{
    font-size: 2rem;
}

caption span:first-child{
    color: #5b04b8;
}

caption span:nth-child(2){
    color:var(--background);
}

.error{
    font-size: 2rem;
    text-align: center;
    color: #5100ff;
}


.error-msg{
    font-size: 2rem;
    text-align: center;
    color: #5100ff;
}

.error-msg span{
    color: var(--main);
}

#loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


@media (max-width: 787px) {
    .table-container {
        margin-top: 2rem;
    }

    table {
        display: block; 
        overflow-x: auto;
        white-space: nowrap; 
        border-radius: 10px;
        border: 1px solid rgb(82, 20, 157);
    }

    th, td {
       font-size: 0.9rem;
    }

    caption {
        font-size: 1.2rem;
    }
    
    caption span{
        font-size: 1.4rem;
    }

    .result {
        margin: 1rem;
    }

    .error, .error-msg{
        font-size: 1.4rem;
    }
}

@media (max-width: 480px) {


    th, td {
        font-size: 0.6rem;
    }

    .result {
        margin: 0.5rem;
    }

    .error, .error-msg {
        font-size: 1.2rem;
    }
}